@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header-text {
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;
}

.font-title {
  font-family: 'Figtree', 'Noto Sans JP', 'Noto Sans', 'Vazirmatn', sans-serif;
}

.preview {
  background-image: repeating-linear-gradient(45deg, var(--fallback-b1, oklch(var(--b1))), var(--fallback-b1, oklch(var(--b1))) 13px, var(--fallback-b2, oklch(var(--b2))) 13px, var(--fallback-b2, oklch(var(--b2))) 14px);
  background-size: 40px 40px;
}